@page
@model Ilaro.Admin.Areas.IlaroAdmin.Pages.EditModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page1</title>
</head>
<body>
    <h1>Edit</h1>
</body>
</html>