@model bool

@if (User.Identity.IsAuthenticated)
{
    <div class="pull-right">
        @if (Model)
        {
            <div class="nav-item">
                @User.Identity.Name
            </div>
            using (Html.BeginForm("Logout", "Account", new { area = "IlaroAdmin" }, FormMethod.Post, new { @class = "nav-item" }))
            {
                @Html.AntiForgeryToken()

                <button type="submit" class="btn btn-link">Sign out</button>
            }
        }
    </div>
}
