<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="NorthwindEntities" connectionString="data source=mssql2.webio.pl,2401;initial catalog=rgonek1_Northwind;persist security info=True;user id=rgonek1_northusr;password=North2#Pass;multipleactiveresultsets=True;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="DatabaseResetToken" value="78d63314-2c3d-496b-acd1-46139bc52458" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>