<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="4.84.4790.14417" targetFramework="net45" />
  <package id="Antlr" version="3.4.1.9004" targetFramework="net45" />
  <package id="bootstrap" version="3.1.1" targetFramework="net45" />
  <package id="Bootstrap.v3.Datetimepicker.CSS" version="3.0.0" targetFramework="net45" />
  <package id="Cassette" version="2.4.2" targetFramework="net45" />
  <package id="Cassette.React" version="2.5.0" targetFramework="net45" />
  <package id="Datejs" version="1.0.0" targetFramework="net45" />
  <package id="ImageResizer" version="3.4.2" targetFramework="net45" />
  <package id="JavaScriptEngineSwitcher.Core" version="1.5.0" targetFramework="net45" />
  <package id="JavaScriptEngineSwitcher.Msie" version="1.5.0" targetFramework="net45" />
  <package id="JavaScriptEngineSwitcher.V8" version="1.5.2" targetFramework="net45" />
  <package id="jQuery" version="2.1.0" targetFramework="net45" />
  <package id="JSPool" version="0.4.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc.FixedDisplayModes" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="4.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Moment.js" version="2.4.0" targetFramework="net45" />
  <package id="MsieJavaScriptEngine" version="1.7.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="RazorGenerator.Mvc" version="2.2.2" targetFramework="net45" />
  <package id="React.Core" version="2.5.0" targetFramework="net45" />
  <package id="React.MSBuild" version="2.5.0" targetFramework="net45" />
  <package id="React.Web" version="2.5.0" targetFramework="net45" />
  <package id="React.Web.Mvc4" version="2.5.0" targetFramework="net45" />
  <package id="System.Web.Optimization.React" version="2.5.0" targetFramework="net45" />
  <package id="Twitter.Bootstrap" version="3.0.1.1" targetFramework="net45" />
  <package id="Typescript.Compiler" version="2.0" targetFramework="net45" />
  <package id="WebActivatorEx" version="2.1.0" targetFramework="net45" />
  <package id="WebGrease" version="1.5.2" targetFramework="net45" />
</packages>