@model GroupProperties

<fieldset>
    <legend>
        @Model.GroupName 
        <button type="button" class="btn pull-right">
            <span class="glyphicon @ToggleIconClass(Model.IsCollapsed)"></span>
        </button>
    </legend>
    <div class="fields" @Toggle(Model.IsCollapsed)>
        @foreach (var propertyValue in Model.PropertiesValues)
        {
            Html.RenderPartial("_PropertyEditor", propertyValue);
        }
    </div>
</fieldset>

@helper ToggleIconClass(bool isCollapsed)
{ 
    if (isCollapsed) { <text>glyphicon-plus</text> }
    else { <text>glyphicon-minus</text> }
}

@helper Toggle(bool isCollapsed)
{
    if (isCollapsed) { <text>style="display:none"</text> }
}