.min-width {
    width: 1px;
}

.max-width {
    width: 100%;
}

.row-fluid ul.thumbnails li.span12 + li,
.row-fluid ul.thumbnails li.span6:nth-child(2n + 3),
.row-fluid ul.thumbnails li.span4:nth-child(3n + 4),
.row-fluid ul.thumbnails li.span3:nth-child(4n + 5) {
    margin-left: 0px;
}

.space-bottom {
    margin-bottom: 20px;
}

.well.sidebar-nav {
    background: #f5f5f5;
}

.sidebar-nav {
    padding: 5px 0;
}

    .sidebar-nav .nav-list > li > a:hover {
        background-color: #efefef;
    }

a.text-error {
    color: #953b39;
}

textarea.html {
    height: 120px;
}

.form-inline .control-label {
    padding-top: 5px;
}
