@model PropertyValue

<div class="col-md-5">
    @Html.TextArea(Model.Property.Name, Model.AsString, Model.Property, new { @class = "form-control html" })
    @Html.Condition(!string.IsNullOrEmpty(Model.Property.Description), () => "<span class=\"help-block\">" + Model.Property.Description + "</span>")
</div>
@Html.ValidationMessage(Model.Property.Name)
