@model Property

<div class="col-md-5">
    @Html.TextArea(Model.Name, Model.Value.AsString, Model, new { @class = "form-control markdown", rows = "10" })
    @Html.Condition(!string.IsNullOrEmpty(Model.Description), () => "<span class=\"help-block\">" + Model.Description + "</span>")
</div>
@Html.ValidationMessage(Model.Name)
