@model Property

@{Html.ClearPrefix();}
<div class="col-md-3">
    @Html.DropDownList(Model.Name, Model.GetPossibleValues(), Model, new { @class = "form-control" })
    @Html.Condition(!string.IsNullOrEmpty(Model.Description), () => "<span class=\"help-block\">" + Model.Description + "</span>")
</div>
@*<button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-plus"></span></button>*@
@Html.ValidationMessage(Model.Name)
