@inherits System.Web.Mvc.WebViewPage
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sign in</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
    <style>
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #eee;
        }

        .wrapper {
            max-width: 330px;
            margin: 0 auto;
        }

        .panel {
            margin-bottom: 5px;
        }

        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin .checkbox {
            font-weight: normal;
        }

        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }

            .form-signin .form-control:focus {
                z-index: 2;
            }

        .form-signin input#login {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input#password {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-3843582-15', 'auto');
      ga('send', 'pageview');
    </script>
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <h1><a href="https://github.com/rgonek/Ilaro.Admin">Ilaro.Admin</a></h1>
            <div class="panel panel-default">
                <div class="panel-heading">Please sign in</div>
                <div class="panel-body">
                    <div class="alert alert-block alert-info fade in">
                        <p>Login: <strong>admin</strong></p>
                        <p>Password: <strong>admin</strong></p>
                    </div>
                    <form class="form-signin" role="form" method="post">
                        <input type="text" class="form-control" placeholder="Login" id="login" name="login" required="" autofocus="">
                        <input type="password" class="form-control" placeholder="Password" id="password" name="password" required="">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    </form>
                </div>
            </div>

            <p>© <a href="https://github.com/rgonek/Ilaro.Admin">Ilaro.Admin</a> @DateTime.Now.ToString("yyyy")</p>
        </div>
    </div>
</body>
</html>
