@model GroupModel

@if (!Model.Name.IsNullOrEmpty())
{
    <h3>@Html.ActionLink(Model.Name, "Index", new { groupName = Model.Name })</h3>
}
<table class="table table-striped table-bordered table-hover">
    <tbody>
        @foreach (var entity in Model.Entities)
        {
            <tr>
                <td class="max-width">@Html.ActionLink(entity.Verbose.Plural, "Index", "Entities", new { area = "IlaroAdmin", entityName = entity.Name }, null)</td>
                <td>
                    @if (entity.AllowAdd)
                    {
                        <a href="@Url.Action("Create", "Entity", new { area = "IlaroAdmin", entityName = entity.Name })" class="btn btn-xs btn-link"><span class="glyphicon glyphicon-plus"></span> @IlaroAdminResources.Add</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
