@model GroupModel

@{
    Layout = "~/Areas/IlaroAdmin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.Name;
}

@section Breadcrumb
{
    <ul class="breadcrumb">
        <li>@Html.ActionLink("Admin", "Index")</li>
        <li class="active">@Model.Name</li>
    </ul>
}

@{Html.RenderPartial("_GroupPartial", Model);}
