@model Ilaro.Admin.ViewModels.EntityGroupViewModel
           
<li class="span4">
    <h3>@Html.ActionLink(Model.Name, "Group", new { groupName =  Model.Name })</h3>
    <table class="table table-striped table-bordered table-hover">
        <tbody>
            @foreach (var entity in Model.Entities) 
            {
                <tr>
                    <td class="max-width">@Html.ActionLink(entity.Plural, "Details", new { entityName = entity.Name })</td>
                    <td><a href="@Url.Action("Create", new { entityName = entity.Name })" class="btn btn-mini btn-link"><i class="icon-plus"></i> @Resources.IlaroAdminResources.Add</a></td>
                </tr>
            }
        </tbody>
    </table>
</li>