@model Ilaro.Admin.Commons.Notificator.Notificator

<div class="messages" id="messages">
    @foreach (var kvp in Model.Messages)
    {
        if (kvp.Value.Count > 0)
        {
            while (kvp.Value.Count > 0)
            {
                <div class="alert alert-block alert-@kvp.Key.ToString().ToLower() fade in"><button type="button" class="close" data-dismiss="alert">&times;</button>@Html.Raw(kvp.Value.Dequeue())</div>
            }
        }
    }
</div>