@using Ilaro.Admin
@if (User.Identity.IsAuthenticated)
{
    <div class="pull-right">
        @if (AdminInitialise.Authorize != null)
        {
            <div class="nav-item">
                @User.Identity.Name
            </div>
            using (Html.BeginForm("Logout", "IlaroAdmin", FormMethod.Post, new { @class = "nav-item" }))
            {
                @Html.AntiForgeryToken()

                <button type="submit" class="btn btn-link">Sign out</button>
            }
        }
    </div>
}
