@model Ilaro.Admin.ViewModels.IndexViewModel

@{
    Layout = "~/Views/IlaroAdmin/_Layout.cshtml";
    ViewBag.Title = Resources.IlaroAdminResources.Index_Title;
}

@section Breadcrumb
{
    <ul class="breadcrumb">
        <li class="active">@Resources.IlaroAdminResources.Index_Title</li>
    </ul>
}

<ul class="list-unstyled">
    @foreach (var group in Model.EntitiesGroups)
    {
        <li class="col-md-4">
            @{Html.RenderPartial("_GroupPartial", group);}
        </li>
    }
</ul>

