@model GroupIndexModel

@{
    Layout = "~/Areas/IlaroAdmin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = IlaroAdminResources.Index_Title;
}

@section Breadcrumb
{
    <ul class="breadcrumb">
        <li class="active">@IlaroAdminResources.Index_Title</li>
    </ul>
}

<ul class="list-unstyled">
    @foreach (var group in Model.Groups)
    {
        <li class="col-md-4">
            @{Html.RenderPartial("_GroupPartial", group);}
        </li>
                }
</ul>

@if (Model.ChangeEnabled)
{
    @section Sidebar
    {
        @{Html.RenderPartial("_LastChanges", Model.Changes);}
    }
}
