@model List<Ilaro.Admin.Core.Models.GroupModel>

@foreach (var group in Model)
{
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>@group.Name</span>
    </h6>
    <ul class="nav flex-column mb-2">
        @foreach (var entity in group.Entities)
        {
            <li class="nav-item">
                <a class="nav-link" asp-page="List" asp-route-entity="@entity.Name">
                    @entity.Name
                </a>
                <a class="d-flex align-items-center text-muted btn-add" asp-page="Create" asp-route-entity="@entity.Name">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                </a>
            </li>
        }
    </ul>
}
