@model WrappedFilterOption

<div class="clearfix">
    <div class="input-group">
        @{
            var from = "";
            var to = "";
            if (Model.Option.Value.IsNullOrWhiteSpace() == false && Model.Option.Value.Contains('-'))
            {
                var parts = Model.Option.Value.Split('-');
                if (parts.Length == 2)
                {
                    from = parts[0].Replace(".", "-");
                    to = parts[1].Replace(".", "-");
                }
            }
        }
        <input type="text" value="@from" class="form-control date-picker date-from" data-date-format="YYYY-MM-DD" />
        <div class="input-group-addon">to</div>
        <input type="text" value="@to" class="form-control date-picker date-to" data-date-format="YYYY-MM-DD" />
        <div class="input-group-btn">
            @Html.FilterOptionLink("OK", "date-range", Model.Filter, new { @class = "btn btn-default date-filter-custom-range" })
        </div>
    </div>
</div>