@model PropertyValue

<div class="col-md-3">
    @Html.TextBox(Model.Property.Name, Model.Raw, Model.Property, new { @class = "form-control" })
    <span class="help-block" asp-if="@Model.Property.Description.HasValue()">@Model.Property.Description</span>
</div>
@Html.ValidationMessage(Model.Property.Name)
